body{
    background-color: rgb(244, 244, 193);
}
div{
    color: rgba(0, 0, 0, 0.527);
    font-family: Yu Mincho;
}

.謹賀{
    font-size: 35pt;
    position: relative;
    top:0px;
    left: 550px;

}
@media (max-width: 480px){
    .謹賀{
        
        position: relative;
        top: 0px;
        left: 100px;
    }
}
.新年{
    font-size: 35pt;
    position: relative;
    left: 800px;
    bottom :75px;
}
@media (max-width: 480px){
    .新年{
        
        position: relative;
        top: 0px;
        left: 100px;
    }
}
.雲　右{
    position: relative;
    bottom:352px;
    left:940px;

}
.雲　左{
    position: relative;
    bottom:350px;
    left : 100px;
}
.謹賀新年　蛇{
    position: relative;
    left:250px;
    bottom:260px;
}
.ミニ図書館{
    position: relative;
    
    

}
@media(max-width: 480px){
    .ミニ図書館{
        position: relative;

        
    }
    
}
.ヘビの生態について{
    position: relative;
    font-size: 20pt;

}
@media(max-width: 480px){
    .ヘビの生態について{
        position: relative;


    }
}
.ヘビと関係する言葉{
    position: relative;
    font-size: 20pt;


}
@media(max-width: 480px){
    .ヘビと関係する言葉{
        position: relative;


    }
}
.ヘビの神話{
    position: relative;
    font-size: 20pt;


}
@media(max-width: 480px){
    .ヘビの神話{
        position: relative;


    }
}